[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyter = "*"
jupyter-client = "*"
idna = "*"
qtconsole = "*"
pyqt5 = "*"
jupyter-repo2docker = "*"
# disable OM for now, as it depends on 'jupyter_client' and 'IPython'
# which are named 'jupyter-client' and 'ipython'
# openmodelica-kernel = {git = "https://github.com/OpenModelica/jupyter-openmodelica.git"}
jupyterlab = "*"
ipython = "*"

[requires]
python_version = "3.12"
