# The origianl requirements.txt is replaced by pipenv 
# pipenv describes the runtime for my jupyter runtime.
# 
# This requirements.txt is to be parsed by binder's repo2docker tool.
# It is to contain all python dependencies for jupyter's IPython-kernel.
# 
netaddr
